# normal use
OPENAI_API_KEY=
GROK_API_KEY=
OLLAMA_API_KEY=
OPENCODE_VIBEGUARD_CONFIG=.opencode/vibeguard.config.json
# backup
BACKUP_ENDPOINT=
BACKUP_API_KEY=
# zjlab mass key (use comma to separate multiple keys, max 5 keys)
ZJLAB_MASS_URL=
ZJLAB_MASS_KEY=
ZJLAB_NP_URL=
ZJLAB_NP_KEY=
# ops privilege
ZJLAB_SUDO_PWD=



