baseURL = 'https://aaronyang2333.github.io/docs/'
languageCode = 'en-us'
defaultContentLanguage = "en"
title = 'AY Dev Docs'
theme = 'hugo-theme-relearn'
[params]
  subtitle = 'Jotting Down some notes'
  additionalContentLanguage = ['zh']
  externalLinkTarget = '_blank'
  themeVariant = 'learn'
  disableLandingPageButton = true
  ordersectionsby = "weight"
  ignoreLogs = ['warning-goldmark-raw-html']
  math = true
  [params.contact]
    email = 'aaron19940628@gmail.com'
    phone = '+86 176-8234-9727'
[outputs]
  home = ['html', 'rss', 'print']
  page = ['html', 'rss', 'print']
  section = ['html', 'rss', 'print']
[languages]
  [languages.en]
    languageName = 'English'
    title = 'Ay Docs'
    weight = 1
  [languages.zh]
    languageName = '中文'
    title = "AY的文档"
    weight = 2
[outputFormats]
  [outputFormats.print]
    name= "print"
    baseName = "index.print"
    isHTML = true
    mediaType = 'text/html'
    permalinkable = false
    noUgly = true
[markup]
  [markup.highlight]
    lineNumbersInTable = false
    noClasses = false
  [markup.goldmark]
    [markup.goldmark.renderer]
    unsafe= true
    [markup.goldmark.extensions]
      typographer = true
      delte = true
      table = true
      taskList = true
      linkify = true
      insert = true
      mark = true
      subscript = true
      superscript = true
    [markup.asciidocExt]
      backend = 'html5'
      extensions = []
      failureLevel = 'fatal'
      noHeaderOrFooter = true
      preserveTOC = false
      safeMode = 'unsafe'
      sectionNumbers = false
      trace = false
      verbose = false
      workingFolderCurrent = false
    [markup.goldmark.extensions.passthrough]
      enable = true
      [markup.goldmark.extensions.passthrough.delimiters]
        block = [['\[', '\]'], ['$$', '$$']]
        inline = [['\(', '\)']]
[module]
  [[module.imports]]
    path = 'hugo-theme-relearn'
[caches]
  [caches.assets]
    dir = ':resourceDir/_gen'
    maxAge = -1
  [caches.getcsv]
    dir = ':cacheDir/:project'
    maxAge = -1
  [caches.getjson]
    dir = ':cacheDir/:project'
    maxAge = -1
  [caches.getresource]
    dir = ':cacheDir/:project'
    maxAge = -1
  [caches.images]
    dir = ':resourceDir/_gen'
    maxAge = -1
  [caches.modules]
    dir = ':cacheDir/modules'
    maxAge = -1
[[menu.shortcuts]]
name = " <i class='fa-brands fa-github'></i>  Relearn Theme"
identifier = "relearn"
url = "https://mcshelby.github.io/hugo-theme-relearn/"
weight = 14
[[menu.shortcuts]]
name = " <i class='fa-solid fa-font-awesome'></i>  Fontawesome"
identifier = "Fontawesome"
url = "https://fontawesome.com/v6/search?ic=free&o=r"
weight = 15
[[menu.shortcuts]]
name = " <i class='fas fa-book'></i>  Ben.wangz Blog"
identifier = "ben.wangz Blog"
url = "https://blog.geekcity.tech/articles/"
weight = 16
[[menu.shortcuts]]
name = " <i class='fas fa-book'></i>  Conti.cc Blog"
identifier = "CnConti Blog"
url = "https://memo.cnconti.tech"
weight = 17
[[menu.shortcuts]]
name = " <i class='fa-solid fa-blog'></i>  72602 Site"
identifier = "72602 Site"
url = "https://port.72602.online"
weight = 18

